<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-b-20 header-title">Alterar Senha</h4>
        <div class="row">
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render partial: 'devise/shared/error_messages', resource: resource %>

            <div class="col-md-10">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', disabled: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Atualmente estamos aguardando a confirmação de:
              <%= resource.unconfirmed_email %>
            </div>
            <% end %>

            <div class="col-md-10">
              <br />
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
              <% if @minimum_password_length %>
              <br />
              <em>
                <%= @minimum_password_length %> caracteres mínimo</em>
              <% end %>
            </div>

            <div class="col-md-10">
              <br />
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
            </div>

            <div class="col-md-10">
              <br />
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
            </div>

            <div class="col-md-10">
              <br />
              <%= f.submit 'Salvar', class: 'btn btn-success' %>
              <%= link_to 'Voltar', :back, class: 'btn btn-link' %>
            </div>

            <% end %>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <%= render 'common/footer' %>
  </div>
  <!-- END Footer -->
</div>
