<div class="row">
  <div class="col-md-6">
    <%= simple_form_for [:admin, :klass, @attendance] do |f| %>
      <div class="form-group">
        <div class="col-md-10">
          <%= f.input :name %>
        </div>
        <div class="col-md-10">
          <%= f.input :realized_at, as: :date, label: 'Data da Aula' %>
        </div>
        <div class="col-md-10">
          <%= f.association :klasses, label: 'Turma', as: :check_boxes, checked: params[:klass_id], input_html: { multiple: true } %>
        </div>
        <div class="col-md-10">
          <%= f.association :students, label: 'Alunos', collection:  @klass.students, as: :check_boxes, input_html: { multiple: true } %>
        </div>
      </div>
      <%= f.submit 'Salvar', class: "btn btn-success" %>
      <%= link_to 'Voltar', :back, class: "btn btn-link" %>
    <% end %>
  </div>
</div>
