<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Alunos</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="datatable" class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Nascimento</th>
                <th>Ação</th>
              </tr>
            </thead>

              <tbody>
                <% @students.each do |student| %>
                  <tr>
                    <td><%= student.name %>
                    <td><%= student.email %></td>
                    <td><%= student.phone %></td>
                    <td><%= student.birthday %></td>
                    <td><%= link_to 'Detalhe', admin_student_path(student), class: 'btn btn-info btn-sm' %>
                      <%= link_to 'Editar', edit_admin_student_path(student), class: 'btn btn-success btn-sm' %>
                      <%= link_to 'Excluir', admin_student_path(student), class: 'btn btn-danger btn-sm', data: { confirm: 'Tem certeza?' }, method: :delete %>
                    </tr>
                  <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
  <!-- container -->

  <!-- Footer -->
  <div class="footer">
    <%= render 'common/footer' %>
  </div>
  <!-- END Footer -->
</div>
