<div class="modal-header">
  <h5 class="modal-title" id="historyModalLabel">Faltas</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <strong><p><%= @student.name %></p></strong>
  <div class="row">
    <div class="col-md-4">Faltas:</div>
    <div class="col-md-6"><strong><%= @details[:absences] %></strong></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">Justificativas Aceitas:</div>
    <div class="col-md-6"> <strong><%= @details[:justifications] %></strong></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">Total:</div>
    <div class="col-md-6"><strong><span class="text-danger"><%= @details[:absences] - @details[:justifications] %></span></strong></div>
  </div>
  <br>

  <% if @details[:klasses].present? %>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-sm table-stripped">
            <thead>
              <th>Aula</th>
              <th>Data</th>
            </thead>
            <tbody>
              <% @details[:klasses].each do |klass| %>
                <tr>
                  <td><%= klass[:name] %></td>
                  <td><%= klass[:realized_at] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
</div>
