<div class="row">
  <div class="col-md-12">
    <%= simple_form_for [:admin, @klass] do |f| %>
    <div class="form-group">
      <div class="col-md-6">
        <%= f.input :name, label: 'Nome' %>
      </div>
      <div class="col-md-12">
        <%= f.association :teachers, label: 'Professores', as: :check_boxes, input_html: { multiple: true } %>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table id="datatable"
                 class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <% @klass.students.sort_by(&:name).each do |student| %>
              <tr>
                <td>
                  <%= student.name %>
                </td>
                <td>
                  <% if student.situations.where(klass_id: @klass.id).empty? %>
                  <%= link_to 'Desativar', admin_klass_disable_student_path(klass_id: @klass.id, student_id: student), class: 'btn btn-danger btn-sm', data: { confirm: 'Tem certeza que deseja desativar este aluno?' }  %>
                  <% else %>
                  Desativado
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= f.submit 'Salvar', class: "btn btn-success" %>
    <%= link_to 'Voltar', :back, class: "btn btn-link" %>
    <% end %>
  </div>
</div>
