<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Turmas</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="datatable" class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Data de criação</th>
                <th>Ação</th>
              </tr>
            </thead>

            <tbody>
              <% @klasses.each do |klass| %>
                <tr>
                  <td><%= klass.name %></td>
                  <td><%= l(klass.created_at, format: :only_date) %></td>
                  <td><%= link_to 'Detalhe', admin_klass_path(klass) %> |
                    <%= link_to 'Editar', edit_admin_klass_path(klass) %> |
                    <%= link_to 'Excluir', admin_klass_path(klass),  data: { confirm: 'Tem certeza?' }, method: :delete %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- container -->

    <!-- Footer -->
    <div class="footer">
      <%= render 'common/footer' %>
    </div>
    <!-- END Footer -->
  </div>
</div>
