<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Turmas</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="datatable" class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Data de criação</th>
                <th>Ação</th>
              </tr>
            </thead>

                    <tbody>
                        <% @klasses.each do |klass| %>
                        <tr>
                            <td><%= klass.name %></td>
                            <td><%= klass.created_at.strftime("%d-%m-%Y") %></td>
                            <td><%= link_to 'Aulas', admin_klass_attendances_path(klass), class: 'btn btn-warning btn-sm' %>
                                <%= link_to 'Detalhes', admin_klass_path(klass), class: 'btn btn-info btn-sm' %>
                                <%= link_to 'Editar', edit_admin_klass_path(klass), class: 'btn btn-success btn-sm' %>
                                <%= link_to 'Excluir', admin_klass_path(klass), class: 'btn btn-danger btn-sm',  data: { confirm: 'Tem certeza?' }, method: :delete %>
                        </tr>
                        <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
      <!-- end row -->
  <!-- container -->

  <!-- Footer -->
  <div class="footer">
    <%= render 'common/footer' %>
  </div>
  <!-- END Footer -->
</div>
