<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-b-20 header-title">Detalhes da turma</h4>
        <div class="form-group">
          <div class="col-md-12">
            <label>Nome:
            </label>
            <%= @klass.name %>
          </div>
          <div class="col-md-12">
            <label>Professor(a):
            </label>
            <tr>
              <% @klass.teachers.each do |teacher| %>
                <td>
                  <%= teacher.name %>
                </td>
              <% end %>
            </tr>
          </div>
          <div class="col-md-12">
            <label>Total de aulas:
              <%= @klass.attendances.size %>
            </label>
          </div>
          <div class="col-md-12">
            <label>Lista de alunos:
            </label>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="datatable" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Situação</th>
                    <th>Faltas</th>
                  </tr>
                </thead>
                <tbody>
                  <% @klass.students.each do |student| %>
                    <tr>
                      <td>
                        <%= student.name %>
                      </td>
                      <td align="center">
                        <%= student.situations.where(klass_id: @klass.id).empty? ? label_for_klass_student_status('ativo') : label_for_klass_student_status('desativado') %>
                      </td>
                      <td>
                        <div class="col-lg-12">
                          <!-- Button trigger modal -->
                            <button type="button" class="btn-sm" data-toggle="modal" data-target="#absenceModal">
                              Visualizar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="absenceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <%= render partial: 'absences', locals: { student: student }  %>
                                </div>
                              </div>
                            </div>
                            <!-- Modal -->
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-10">
            <%= link_to 'Editar', edit_admin_klass_path(@klass), class: "btn btn-success" %>
            <%= link_to 'Voltar', :back, class: "btn btn-link" %>
          </div>
        </div>
        <!-- container -->
      </div>
    </div>
  </div>
</div>
