<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<!-- Start content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 header-title m-t-0 m-b-20"></div>
    </div>
    <!--end row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <h6 class="m-t-0">Minhas Justificativas</h6>
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <% if @justifications.empty? %>
              <tr>
                Você não tem nenhuma justificativa pendente. <br><br>
                <%= link_to 'Ver todas as justificativas', student_justifications_path, class: 'btn btn-info btn-sm' %>
              </tr>
              <% else %>
              <thead>
                <tr>
                  <th style="width: 5%;">Data</th>
                  <th style="width: 5%;">Situação</th>
                  <th style="width: 5%;">Ação</th>
                </tr>
              </thead>

              <tbody>
                <% @justifications.each do |justification| %>
                <tr>
                  <td>
                    <%= justification.date.strftime("%d/%m/%Y") %>
                  </td>
                  <td>
                    <%= label_for_status(justification.status) %>
                  </td>
                  <td>
                    <%= link_to 'Detalhes', student_justification_path(justification), class: 'btn btn-info btn-sm' %>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <% end %>
            </table>
            <div><br>
              <%= link_to 'Criar Justificativa', new_student_justification_path, class: 'btn btn-dark btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <h6 class="m-t-0">Minhas Faltas</h6>
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <% @student.klasses.each do |klass| %>
              <% absences = @student.show_attendances(klass.attendances, klass) %>
              <% if absences.empty? %>
              <tr>
                Parabéns, você não tem falta. :-) <br><br>
              </tr>
              <% else %>
              <thead>
                <tr>
                  <th style="width: 5%;">Aulas</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <%= absences  %>
                  </td>
                </tr>
              </tbody>
              <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- container -->

  <div class="footer">
    <%= render 'common/footer' %>
  </div>

</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
