 <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 card-box">
            <div class="text-center">
              <h2 class="text-uppercase m-t-0 m-b-30">
                <a href="index.html" class="text-success">
                  <span><%= image_tag('aguasdearuanda.jpg', height: '120') %></span>
                </a>
              </h2>
              <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
            </div>
            <div class="account-content">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="form-group m-b-20">
                  <div class="col-xs-12">
                    <label for="emailaddress">Email address</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group m-b-20">
                  <div class="col-xs-12">
                    <label for="password">Password</label>
                    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group m-b-30">
                  <div class="col-xs-12">
                    <% if devise_mapping.rememberable? -%>
                      <div class="checkbox checkbox-primary">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="form-group account-btn text-center m-t-10">
                  <div class="col-xs-12">
                    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
                  </div>
                </div>
              <% end %>

              <div class="clearfix"></div>

            </div>
          </div>
          <!-- end card-box-->
        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
</section>
