<html>
  <head>
    <meta charset="utf-8" />
    <title>Águas de Aruanda - Gerenciamento de Cursos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Centro de Formação Espiritual Águas de Aruanda" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'internal', media: 'all' %>
    <%= javascript_include_tag 'internal' %>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
  </head>

  <body>
    <!-- Begin page -->
    <div id="wrapper">

      <!-- Top Bar Start -->
      <div class="topbar">
        <%= render 'common/top_bar_nav' %>
      </div>
      <!-- Top Bar End -->

      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu">
        <%= render 'common/navs' %>
      </div>
      <!-- Left Sidebar End -->

      <!-- Start right Content here -->
      <div class="content-page">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% elsif alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
        <%= yield %>
      </div>
      <!-- End Right content here -->
    </div>
    <!-- END wrapper -->
  </body>
</html>
