<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wrapper-page">
          <div class="m-t-40 card-box">
            <div class="text-center">
              <h2 class="text-uppercase m-t-0 m-b-30">
                <a href="index.html" class="text-success">
                  <span><%= image_tag('aguasdearuanda', height: '120') %></span>
                </a>
              </h2>
            </div>

            <div class="account-content">
              <%= simple_form_for [@justification]  do |f| %>
              <div class="form-group">
                <%= f.input :name, label: 'Nome' %>
              </div>
              <div class="form-group">
                <%= f.input :email, label: 'Email' %>
              </div>
              <div class="form-group">
                <%= f.input :date, label: 'Data', as: :date %>
              </div>
              <div class="form-group">
                <%= f.input :description, as: :text, label: 'Descrição' %>
              </div>
              <div class="form-group">
                <%= f.file_field :upload, accept:'image/*' %>
              </div>
              <div class="form-group text-center m-b-0">
                <%= f.submit 'Enviar', class: 'btn btn-primary waves-effect waves-light' %>
              </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
